{% block title %}<h1>Consulte el area de su padron electoral</h1>{% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">
      <h2><a href="/provincias">Todas las Provincias</a></h2>

      <hr>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <h2><a href="/cantones">Todos los Cantones</a></h2>
      <hr>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <h2><a href="/distritos">Todos los Distritos</a></h2>
      <hr>
    </div>
  </div>
</div>

{% endblock %}